.background{
    background-image: url(/image/Voice_bot.gif);
    height: 75vh;
    position: relative;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;

}
    
.head{
  position: relative;
    text-align: center;
    color: rgb(2, 3, 43);
    font-size: larger;
}
